[flake8]
# Основные игнорируемые правила
ignore =
    D100,  # Missing docstring in public module
    D101,  # Missing docstring in public class
    D102,  # Missing docstring in public method
    D103,  # Missing docstring in public function
    D104,  # Missing docstring in public package
    D105,  # Missing docstring in magic method
    D106,  # Missing docstring in public nested class
    I,     # isort issues
    N806,  # variable should be lowercase
    E302   # expected 2 blank lines

# Исключаемые директории
exclude =
    */migrations/*,
    .git,
    __pycache__,
    */settings/*,
    */venv/*

# Максимальная длина строки
max-line-length = 88

# Разрешить переносы строк в скобках
max-complexity = 10